html {
  /* --font: "Raleway", sans-serif;
  --text-color: #222;
  --link-color: #509ee3; */
	box-sizing: border-box;
	scroll-behavior: smooth;
  background-color:  rgb(229, 221, 213);
  overflow: hidden auto;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	/* font-family: var(--font); */
	font-size: 16px;
}

/* #root {
  display: flex;
  justify-items: center;
  justify-content: center;
  height: auto;
} */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.main-area {
  /*position: relative;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100vh;
  overflow: hidden initial;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;

}

.message {
  display: flex;
  gap: 0.2rem;
  align-items: flex-start;
}

.message.sent {
  flex-direction: row-reverse;
  padding-right: 0.5rem;
}

.message.received {
  flex-direction: row;
  padding-left: 0.5rem;
}

.message p {
  padding: 0.1rem 0.4rem;
  border-radius: 0.7rem;
  max-width: 80%;
  width: fit-content;
  height: auto;
  overflow-wrap: break-word;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
  white-space: pre-line;
}

.message img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
}

.sent p {
  background-color: rgba(220, 248, 198, 0.8);
  border-top-right-radius: 0;
}

.received p {
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 0;
}

.input-area {
  width: 100%;
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  
  
}

.input-area textarea{
  max-width: 28rem;
  min-width: 300px;
  width: 20rem;
  /* flex-grow: 1; */
  /* border: thin solid rgb(82, 68, 56); */
  border: none;
  border-right: none;
  border-radius: 1rem;
  padding: .5rem;
  line-height: 0.85rem;
  font-size: 0.85rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  resize: none;
  
}

.input-area textarea:focus-visible {
  outline: none;
}

.input-area button{
  width: 2rem;
  /* border: thin solid rgb(82, 68, 56); */
  border: none;
  /* border-radius: 0 1.06rem 1.06rem 0; */
  color: rgb(184, 168, 153);
  background-color: none;
  font-size: 1rem;
  font-weight: bold;
}

.input-area svg {
  height: 1.5rem;
}

.scrolling-visible-div {
  height: 5.5rem;
}

.signout-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

/* .sign-in-btn {
  position: fixed;
  top: 50%;
  left: calc(50% - );
} */

.btn {
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: thin solid rgb(82, 68, 56);
  color: whitesmoke;
  background-color: rgb(184, 168, 153);
  font-size: 1rem;
  font-weight: bold;
}

.write-area-container {
  padding: 1.5rem;
  position:fixed;
  left: center;
  bottom: 0;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-top: thin solid rgb(82, 68, 56);
  max-width: 550px;
}